<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Transaction History
    </ion-title>
    <ion-buttons slot="start">
      <ion-icon (click)="back()" color="primary" slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-margin-horizontal">
    <h6>Recent transactions</h6>
  <ion-grid>
    <ion-row><ion-col>{{'COMMON.date'}}:</ion-col><ion-col>{{this.iroha.txDate | date:'yyyy-MM-dd HH:mm.ss'}}</ion-col></ion-row>
    <ion-row><ion-col>{{'COMMON.from'}}:</ion-col><ion-col>{{txFrom}}</ion-col></ion-row>
    <ion-row><ion-col>{{'COMMON.to'}}:</ion-col><ion-col>{{txTo}}</ion-col></ion-row>
    <ion-row><ion-col>{{'COMMON.amount'}}:</ion-col><ion-col>{{txAmount}}</ion-col></ion-row>
    <ion-row><ion-col>{{'COMMON.currency'}}:</ion-col><ion-col>{{txCurrency}}</ion-col></ion-row>
    <ion-row><ion-col>{{'COMMON.msg'}}:</ion-col><ion-col>{{txMessage}}</ion-col></ion-row>
  </ion-grid>
  </div>
</ion-content>

