<ng-container *ngIf="checkout">
<ion-card mode="ios">
  <ion-card-content>
    <div class="item-img">
      <img [src]="checkout.image" />
    </div>
    <div class="item-info">
      <p>Item Name:{{checkout.name}}</p>
      <p>Merchant: {{checkout.owner}}</p>
      <p>Price: RM {{checkout.price}}</p>
      <p>Quantity: {{checkout.quantity}}</p>
      <p>Remark: {{checkout.message}}</p>
      <p>Options: </p>
      <p *ngFor="let entry of options"> {{entry.name}} - {{entry.val}}&nbsp;</p>
      <p>Pickup Time: {{checkout.deliveryTime}}</p>
    </div>
  </ion-card-content>
</ion-card>
</ng-container>
