<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()" routerDirection="forward">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <h1 class="title">My Orders</h1>
  <ion-row><ion-label>Date: </ion-label></ion-row>
  <ion-row><ion-label>{{this.date}}</ion-label></ion-row>
<ion-datetime #datetime (ionChange)="dateChanges(datetime.value)" presentation="date"></ion-datetime>
  <div class="ion-margin-vertical">
    <ion-button
      class="ion-margin-horizontal"
      size="large"
      expand="block"
      shape="round"
      color="primary"
      (click)="checkSales()">
      <ion-text>Check Sales</ion-text>
    </ion-button>
  </div>
</ion-content>

