<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-button (click) = "qrCode()">
        <ion-icon name="qr-code" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="title">
        <img style="height: 30px" src='assets/header/chainfoxcafe.png'>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="chat()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="showAlertLogOut('Log out', 'Are you sure?')">
        <ion-icon name="lock-closed"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="ion-padding-top">
    <ion-searchbar animated="true" debounce="800" placeholder="Enter store name" show-cancel-button="focus" (ionChange)="_ionChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: #F7F7FA">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="p-1">
    <ng-container *ngFor="let option of searchedItem">
      <div>
        <app-cafe-card (click)="goToLunch(option.id)" [option]="option"></app-cafe-card>
      </div>
    </ng-container>
  </div>
</ion-content>

