<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-icon (click)="back()" color="primary" slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="titles" >
    <ion-text  color="primary" style="font-size: 20px; font-weight: bold">Enter your login credentials to confirm your identity.</ion-text>
  </div>
  <div class="ion-padding">

<form [formGroup]="form" class="ion-margin">
  <div class="ion-margin-vertical">
    <ion-item lines="full" color="light" >
      <ion-input formControlName="email" [type]="type ? 'text' : 'text'" placeholder="Enter email"></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="!form.get('email').valid && form.get('email').touched">
      <ion-text
        class="error"
        *ngIf="form.get('email').hasError('required')">
        * Please enter the email
      </ion-text>
      <!-- for email error -->
      <ion-text
        class="error"
        *ngIf="!form.get('email').hasError('required')">
        * Please enter a proper email
      </ion-text>
    </ion-text>
  </div>

  <div class="ion-margin-vertical">
    <ion-item lines="full" color="light" shape="round">
      <ion-icon
        [name]="type ? 'eye' : 'eye-off'"
        slot="end"
        color="dark"
        (click)="changeType()">
      </ion-icon>
      <ion-input formControlName="password" [type]="type ? 'password' : 'text'" placeholder="Enter old password"></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      *ngIf="!form.get('password').valid && form.get('password').touched">
      <ion-text
        class="error"
        *ngIf="form.get('password').hasError('required')">
        * Please enter your password
      </ion-text>
      <ion-text
        class="error"
        *ngIf="!form.get('password').hasError('required') && form.get('password').hasError('minlength')">
        * Please enter a password of at least 8 characters long
      </ion-text>
    </ion-text>
  </div>
</form>
  </div>
<div class="ion-margin-horizontal">
  <ion-button
    *ngIf="!isLoading"
    size="large"
    expand="block"
    shape="round"
    color="primary"
    (click)="changePassword()">
    <ion-text>Confirm</ion-text>
  </ion-button>
  <ion-button
    *ngIf="isLoading"
    size="large"
    expand="block"
    shape="round"
    color="primary">
    <ion-spinner></ion-spinner>
  </ion-button>
</div>
</ion-content>
