<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="back()" routerDirection="forward">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Name: {{this.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios" class="ion-padding" *ngIf="this.product.customNew">
    <ion-row>
      <ion-col size="10">
        <ion-card-title style="font-size: 18px; padding-top: 3px" >Edit Customisation Name</ion-card-title>
      </ion-col>
      <ion-col size="2" class="ion-text-right">
        <ion-buttons>
          <ion-button  (click)="addName()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-list lines="none">
    <form [formGroup]="form">
      <ion-item *ngFor="let control of form.controls | keyvalue">
        <ion-input requiredtype="text" [formControlName]="control.key" placeHolder="option names..."></ion-input>
        <p style="color: #9ca3af; margin-inline: 10px" *ngIf="this.prices.get(form.value[control.key])!==undefined">Add on price: RM {{this.prices.get(form.value[control.key])}} </p>
        <ion-icon *ngIf="form.value[control.key]!==''" (click)="removeControl(control)" name="close-circle"></ion-icon>
      </ion-item>
    </form>
  </ion-list>

  <ion-button expand="full" color="light" (click)="addControl()">Add Option</ion-button>
  <div class="ion-margin-horizontal">
    <ion-button
      *ngIf="!isLoading"
      size="large"
      expand="block"
      shape="round"
      color="primary" (click)="submitRequest()">
      Confirm
    </ion-button>
    <ion-button
      *ngIf="isLoading"
      size="large"
      expand="block"
      shape="round"
      color="primary">
      <ion-spinner></ion-spinner>
    </ion-button>
  </div>
</ion-content>
