<ion-header>
  <ion-toolbar>
    <ion-title>verify-email-address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Please check your email and verify your email address.</p>
  <p>You cannot proceed with this app with verifying your email.</p>
  <p> Delete your acc and login with another account?</p>
  <div class="ion-padding">
    <ion-button (click)="unlock()" expand="block" class="main-button">
      <ion-text class = ion-margin-horizontal >Email Verified</ion-text>
      <ion-icon class = ion-margin-horizontal name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
