.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ion-content {
  ion-input {
    font-size: 1.2rem;
  }
  ion-icon {
    zoom: 1.8;

  }
  ion-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 14vh;
    margin: auto;
    box-shadow: none;
    border-radius: 16px;
    ion-card-header {
      height: 100%;
      ion-card-title {
        font-size: 1rem;
        transform: translateY(2.5vh);
      }
    }
  }
  ion-list {
    background: transparent;
    ion-item-group {
      margin-bottom: 2vh;
    }
  }
}

.transformCenter {
  transform: translateY(35vh);
}


