.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 6px;
  background: var(--ion-color-contrast);
  resize: none;
  margin-top: 0px;
  --padding-start: 8px;
}

.titles {
  padding: 0 1rem 0 20px;
}
