<ng-container *ngIf="cart">
  <ion-card mode="ios">
    <ion-card-content>
      <div class="item-img">
        <img [src]="cart.image" />
      </div>

      <div class="item-info">
        <p>Item Name: {{ cart.name }}</p>
        <p>Merchant: {{ cart.owner }}</p>
        <p>Price: RM {{ cart.price }}</p>

        <div class="qty-selector">
          <p>Quantity: </p>
          <ion-button fill="clear" (click)="removeFromCart()">-</ion-button>
          <ion-label>{{ cart.quantity }}</ion-label>
          <ion-button fill="clear" (click)="addToCart()">+</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ng-container>
