<ng-container *ngIf="cart">
  <ion-card mode="ios">
    <ion-card-content>
      <div class="item-img">
        <img [src]="cart.image" />
      </div>

      <div class="item-info">
        <p>Item Name: {{ cart.name }}</p>
        <p>Merchant: {{ cart.owner }}</p>
        <p>Price: RM {{ cart.price }}</p>
        <ion-chip (click)="openChooseOptionsModal(cart.id, cart.quantity)" mode="md" >
          <ion-label color="dark" *ngFor="let entry of options" class="ion-text-wrap">
              {{entry.name}}: {{entry.val}}&nbsp;
          </ion-label>
          <ion-icon name="caret-down-outline"></ion-icon>
        </ion-chip>
        <div class="qty-selector">
          <p>Quantity: </p>
          <ion-button fill="clear" [disabled]="cart.quantity===1" (click)="removeFromCart(cart.quantity)">-</ion-button>
          <ion-label>{{ cart.quantity }}</ion-label>
          <ion-button fill="clear" (click)="addToCart()">+</ion-button>
          <ion-icon name="trash-outline" (click) = "deleteItem()"></ion-icon>
        </div>
        <ion-button expand="block" (click) = "openNoteModal(cart.id)">Add Note</ion-button>
      </div>
      <ion-row><ion-label>Pick Up Time:</ion-label></ion-row>
      <ion-row><ion-label>{{this.date}}</ion-label></ion-row>
        <ion-datetime
          #datetime (ionChange)="dateChanges(datetime.value, cart.id)"
          presentation= 'date-time'
          [min]="myDateString"
          [max]="nextWeek"
          [hourValues]="[8,9,10,11,12,13,14,15,16,17,18,19,20,21]">
        </ion-datetime>
  </ion-card-content>
  </ion-card>
</ng-container>
