ion-card {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;

  ion-card-content {
    .item-img {
      img {
        object-fit: cover;
        height: 225px;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
      }
    }

    .item-info {
      p {
        font-size: 16px;
      }

      p:nth-child(1) {
        color: #434343;
      }
      p:nth-child(2) {
        color: #919191;
      }
      p:nth-child(3) {
        color: var(--ion-color-primary);
      }

      .qty-selector {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f6f6f6;
        border-radius: 5px;
        margin-top: 10px;

        ion-button {
          --color: #565656;
          font-size: 16px;
          margin-left: 8px;
          margin-right: 8px;
        }

        ion-label {
          color: #565656 !important;
          font-size: 16px;
        }
      }
    }
  }
}
