<ion-header translucent="true">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
      <ion-button (click) = "qrCode()">
        <ion-icon name="qr-code" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="title">
        <img style="height: 30px" src='assets/header/chainfoxhome.png'>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="chat()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="lock-closed"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class ="ion-padding-bottom">
  </div>
  <div class="titles" >
    <ion-text  color="primary" style="font-size: 20px; font-weight: bold;">UNM Wallet</ion-text>
  </div>
  <div class="ion-padding">
    <ion-card color="warning">
      <ion-card-content>
        <ion-col class="ion-no-padding">
          <ion-note class="no" color="black">Hello, {{this.iroha.wallet.name}}!</ion-note>
          <ion-chip color="warning" style="margin-left:35px " class="ion-no-padding">
            <ion-button shape="round" size="small" routerLink="/list" routerDirection="forward">
              <ion-text>History</ion-text>
              <ion-icon name="archive-outline" slot="start"></ion-icon>
            </ion-button>
          </ion-chip>
          <ion-chip>
            <ion-label color="light">
              Balance: RM {{this.iroha.wallet.balance}}
            </ion-label>
          </ion-chip>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-chip color="warning" style="margin-left:30px " class="ion-no-padding">
          <ion-button shape="round" size="small" routerLink="/top-up" routerDirection="forward">
            <ion-text>Top Up</ion-text>
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          </ion-button>
          </ion-chip>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="titles">
    <ion-text color="primary" style="font-size: 20px; font-weight: bold; ">Promotions</ion-text>
  </div>

  <div class="ion-padding">
    <ion-col size="4">
      <ion-slides pager=“true” autoplay=“2000” loop=“true”>
        <ion-slide>
          <img  src="assets/imgs/screen1.png" alt="">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/screen2.png" alt="" width="640" height="360">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/screen3.png" alt="">
        </ion-slide>
      </ion-slides>
    </ion-col>
  </div>

</ion-content>
