

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card-padding {
  padding-bottom: 12px;
}
ion-content {

  ion-icon {
    zoom: 1;

  }
  .titles {
    padding: 0 1rem 0 20px;
  }

  .wallet {
    padding: 16px;
  }

  ion-card {
    overflow: visible;
    height: 120px;
    box-shadow: none;
    border-radius: 8px;
    margin: 26px 0;

    ion-col {
      ion-img {
        position: relative;
        bottom: 36px;
        width: 120px;
      }
    }

    .mask {
      img {
        width: 240px;
        position: absolute;
        bottom: 0px;
        left: 140px;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
      }
    }

    ion-badge {
      margin-top: 8px;
      background: rgba(0, 0, 0, .08);
    }

    ion-card-title {
      font-weight: 900;
    }

    ion-card-header { position: relative }
    .center-right{
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
    }

    ion-card-subtitle {
      font-weight: bold;
      font-size: 16px;
    }
    .no {
      color: rgba(0, 0, 0, .66);
      font-weight: bold;
      font-size: 16px;
    }


  }
}

