<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-button (click) = "qrCode()">
        <ion-icon name="qr-code" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="title">
        <img style="height: 30px" src='assets/header/chainfoxhome.png'>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="chat()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name="lock-closed"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="banner">
    <img  src="assets/imgs/screen1.png" alt="">
  </div>
  <div class="live-event">
    <img src="../../assets/wallet.png" />
    <div class="info">
      <div class="content">
        <ion-note color="white">Hello, {{this.iroha.wallet.name}}!</ion-note>
        <ion-chip>
          <ion-label color="light">
            Balance: RM {{this.iroha.wallet.balance}}
          </ion-label>
        </ion-chip>
        </div>
      </div>
  </div>
  <div class="default-top-padding title">
    <h2>Wallet Management</h2>
  </div>
  <ion-grid style="margin: 5px 10px 0px 10px" >
    <ion-row class="ion-align-items-center ion-margin-top" >
      <ion-col size="6" *ngFor="let feature of features" class="ion-text-center">
        <ion-card color="light" (click)="getRoute(feature?.id)">
          <ion-card-header>
            <ion-icon name="{{feature?.icon}}"></ion-icon>
            <ion-card-title >{{feature?.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="default-top-padding title">
    <h2>Promotions</h2>
  </div>
  <div class="ion-padding">
    <ion-col size="4">
      <ion-slides pager #mySlider class="slides" (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
        <ion-slide *ngFor="let number of [1,2,3]">
          <img src="assets/imgs/screen{{number}}.png" alt="" width="640" height="360">
        </ion-slide>
      </ion-slides>
    </ion-col>
  </div>
</ion-content>
