<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="back()" routerDirection="forward">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Transaction Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin-horizontal">
    <ion-grid>
      <ion-row><ion-col>{{'Date'}}:</ion-col><ion-col>{{this.iroha.transactionDate}}</ion-col></ion-row>
      <ion-row><ion-col>{{'From'}}:</ion-col><ion-col>{{this.iroha.transactionFrom}}</ion-col></ion-row>
      <ion-row><ion-col>{{'To'}}:</ion-col><ion-col>{{this.iroha.transactionTo}}</ion-col></ion-row>
      <ion-row><ion-col>{{'Amount'}}:</ion-col><ion-col>{{this.iroha.transactionAmount}}</ion-col></ion-row>
      <ion-row><ion-col>{{'Message'}}:</ion-col><ion-col>{{this.iroha.transactionMsg}}</ion-col></ion-row>
    </ion-grid>
  </div>
</ion-content>
