<ng-container *ngIf="trackOrder">
  <ion-card mode="ios">
    <ion-card-content>
      <div class="item-info">
        <p>Order ID: {{ trackOrder.id}}</p>
        <p>Item Name: {{trackOrder.name}}</p>
        <p>Customer: {{trackOrder.user}}</p>
        <p>Price: {{trackOrder.price}}</p>
        <p>Order Time: {{trackOrder.time}}</p>
        <p>Deliver Time: {{trackOrder.deliverTime}}</p>
        <p>Status: {{trackOrder.status}}</p>
        <ion-button expand="block" class="main-button" (click) = 'cancelOrder(trackOrder.id, trackOrder.user, trackOrder.userId, trackOrder.amountPaid)'>Cancel Order</ion-button>
        <ion-button expand="block" class="main-button" (click)="goToCheckStatusStore(trackOrder.name, trackOrder.id, trackOrder.price, trackOrder.user, trackOrder.status, trackOrder.userId)">Check Status</ion-button>
     </div>
    </ion-card-content>
  </ion-card>
</ng-container>
