<ion-header>
  <ion-toolbar>
    <ion-title color = "primary">Receive Money</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()" routerDirection="forward">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" >
  <qr-code class="ion"
    background="white"
    foreground="black"
    size="300"
    padding="10"
    canvas="true"
    level="H"
    [value]=id
  ></qr-code>
</ion-content>
