<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">

  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button routerLink="/pay" routerDirection="forward">
      <ion-icon name="scan-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="selectedTab === 'home' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon [name]="selectedTab === 'search' ? 'search' : 'search-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>
    <ion-tab-button tab="cafe">
      <ion-icon [name]="selectedTab === 'cafe' ? 'restaurant' : 'restaurant-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon [name]="selectedTab === 'account' ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
