ion-tabs {

  // --------------Custom Semi Transparent & Rounded Tabs----------------------
  ion-tab-bar {
    ion-tab-button {
      --background: var(--ion-color-white);
      --color: var(--ion-color-medium);
      --color-selected: var(--ion-color-dark);
      ion-icon {
        font-size: 1.5rem;
      }
    }
  }
  ion-fab {
    ion-fab-button {
      --background: linear-gradient(90deg, rgba(255,169,0,1) 0%, rgba(228,166,0,1) 100%, rgba(0,212,255,1) 100%);
      // --background: var(--ion-color-white);
      margin-bottom: 0.5vh;
      ion-icon {
        font-size: 2rem;
        // font-size: 4rem;
      }
    }
  }
}

