<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()" routerDirection="forward">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Cart</h1>

  <div class="cart-items">
    <ng-container *ngFor="let cart of cart">
      <div>
        <app-cart-card [cart]="cart" (childEvent)="updateQuantity()"></app-cart-card>
      </div>
    </ng-container>
  </div>

</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md" *ngIf="cart.length !== 0">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" (click)="checkOut()" >Checkout</ion-button>
  </ion-toolbar>
</ion-footer>
