<ion-header>
  <ion-toolbar>
    <ion-title>Customise Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    <ion-list lines = 'none'>
    <ion-radio-group allow-empty-selection="'true" (ionChange)="_ionChange(entry.title, $event)" *ngFor="let entry of form" >
      <ion-list-header>
        <ion-label>{{entry.title}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let option of entry.data">
        <ion-label>{{option.name}}</ion-label>
        <ion-radio slot = "end" [value]="option.val"  mode = 'md'></ion-radio>
      </ion-item>
    </ion-radio-group>
    </ion-list>
  </div>
    <div class="ion-margin">
  <ion-list>
    <div class="qty-selector">
      <p>Quantity: </p>
      <ion-button fill="clear" [disabled]="this.quantity===1" (click)="reduceQuantity()">-</ion-button>
      <ion-label>{{this.quantity}}</ion-label>
      <ion-button fill="clear" (click)="addQuantity()">+</ion-button>
    </div>
  </ion-list>

  </div>
  <div class="ion-padding">
    <ion-button
      *ngIf="!isLoading"
      size="large"
      expand="block"
      shape="round"
      color="primary"
      (click)="addToCart()">
      <ion-text>Confirm</ion-text>
    </ion-button>
    <ion-button
      *ngIf="isLoading"
      size="large"
      expand="block"
      shape="round"
      color="primary">
      <ion-spinner></ion-spinner>
    </ion-button>
  </div>
</ion-content>
