<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()" routerDirection="forward">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="!isEmpty">
    <ion-searchbar animated="true" debounce="800" placeholder="Enter item name" show-cancel-button="focus" (ionChange)="_ionChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="order-items" *ngIf="!isEmpty">
    <ng-container *ngFor="let order of searchedItem">
      <div>
        <app-order-card [order]="order"></app-order-card>
      </div>
    </ng-container>
  </div>
</ion-content>
