<ion-header translucent="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()" routerDirection="forward">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color ="primary">{{this.storeName}}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="chat()">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fixed w-full row-start-1 row-span-1 col-start-1 col-span-1 z-40">
    <ion-accordion-group>
      <ion-accordion value="starter">
        <ion-item slot="header">
          <ion-label class="text-center pl-10">
                  <span class="font-sans text-brand-gray-medium text-lg">
                      {{this.category}}
                  </span>
          </ion-label>
        </ion-item>
        <ion-list slot="content" lines="none">
          <ng-container *ngFor="let option of drawerOptions">
            <ion-item class="h-10" (click)="selectCategory(option.name)">
              <ion-label class="text-center">
                    <span
                      class="font-sans text-brand-gray-light text-sm"
                      [class.font-medium]="option.type === 'sectionHeader'"
                      [class.text-brand-gray-dark]="option.type === 'sectionHeader'"
                      [class.text-xl]="option.type === 'sectionHeader'">
                    {{ option.name }}
                    </span>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  <div class="grid grid-rows-1 grid-cols-1">
    <div class="row-start-1 row-span-1 col-start-1 col-span-1 bg-white p-1 mt-12">
      <ng-container *ngFor="let food of foodOptions"  >
        <div class="ion-text-left">
          <app-food-card (click)="itemDetails(food.id, food.name, food.price, food.description, food.owner, food.image)" [food]="food"></app-food-card>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>
