<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      <div class="title">
        <img style="height: 30px" src='assets/header/chainfox.png'>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="banner">
      <ion-slides pager #mySlider class="slides" (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
        <ion-slide *ngFor="let images of options">
          <img src="{{images}}.png" alt="" width="640" height="360">
        </ion-slide>
      </ion-slides>
    </div>
  <ion-card style="">
    <div class="ion-margin" (ionChange)="segmentChanged($event)">
      <ion-segment mode="ios" class="custom-icon" [value]="segmentValue">
        <ion-segment-button value="1">
          <ion-label>Log In</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Sign Up</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <app-sign-in *ngIf="segmentValue === '1'"></app-sign-in>
    <app-sign-up *ngIf="segmentValue === '2'"></app-sign-up>
  </ion-card>
</ion-content>
