<ion-header translucent="true">
  <ion-toolbar color="white" >
    <ion-title>
      <div class="title">
        <img style="height: 30px" src='assets/header/chainfox.png'>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class = ion-padding >
      <ion-slides pager=“true” autoplay=“1000” loop=“true”>
        <ion-slide>
          <img src="assets/imgs/screen1.png" alt="">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/screen2.png" alt="" width="640" height="360">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/screen3.png" alt="">
        </ion-slide>
      </ion-slides>
  </div>
  <ion-card>
    <div class="ion-margin" (ionChange)="segmentChanged($event)">
      <ion-segment mode="ios" class="custom-icon" [value]="segmentValue">
        <ion-segment-button value="1">
          <ion-label>Log In</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Sign Up</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <app-sign-in *ngIf="segmentValue === '1'"></app-sign-in>
    <app-sign-up *ngIf="segmentValue === '2'"></app-sign-up>
  </ion-card>
</ion-content>
