<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-button (click) = "qrCode()">
        <ion-icon name="qr-code" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="title">
        <img style="height: 30px" src='assets/header/chainfoxsend.png'>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="chat()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="showAlertLogOut('Log out', 'Are you sure?')">
        <ion-icon name="lock-closed"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true" debounce="800" placeholder="Enter username" show-cancel-button="focus" (ionChange)="_ionChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-spinner *ngIf="spinner"></ion-spinner>
    <div class="default-top-padding title" *ngIf="notFound">
      <h2>User not found</h2>
    </div>
    <ion-list  *ngIf="this.iroha.otherWallet.name !== '' || this.iroha.otherWallet.name === this.iroha.wallet.name">
      <ion-item routerLink="/user-details">
        <ion-label>{{this.iroha.otherWallet.name}}</ion-label>
      </ion-item>
    </ion-list>
    <div class="default-top-padding title">
      <h2>Previous Receivers of Your Money</h2>
    </div>
    <ion-list *ngFor="let fav of fav">
      <ion-item *ngIf="fav!=='You'" routerLink="/test" (click)="frequentReceivers(fav)">
        <ion-label >{{fav}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
