<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()" routerDirection="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary" class="text-center pr-12">
      <span class="text-center font-cursive">Chinese</span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-segment scrollable='true' value="heart">
    <ion-segment-button value="home">
      <ion-label>Standard</ion-label>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-label>Standard</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-label>Standard</ion-label>
    </ion-segment-button>
    <ion-segment-button value="star">
      <ion-label>Standard</ion-label>
    </ion-segment-button>
    <ion-segment-button value="call">
      <ion-label>Standard</ion-label>
    </ion-segment-button>
    <ion-segment-button value="globe">
      <ion-label>Standard</ion-label>
    </ion-segment-button>
    <ion-segment-button value="basket">
      <ion-label>Standard</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="grid grid-rows-1 grid-cols-1">
    <div class="row-start-1 row-span-1 col-start-1 col-span-1 bg-white p-1 mt-12" @staggerFade>
      <ng-container *ngFor="let food of foodOptions">
        <div class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <app-food-card [food]="food"></app-food-card>
        </div>
      </ng-container>
    </div>

  </div>
</ion-content>
