<ion-card color="warning">
  <ion-card-content *ngIf="this.balance!==''">
    <ion-row>
      <ion-note class="no" color="black">Hello, {{this.iroha.wallet.name}}!</ion-note>
      <ion-col class="ion-text-end">
        <ion-icon  name="calculator" class="center-right" routerLink="/list" routerDirection="forward"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-chip>
        <ion-label color="light">
          Balance: RM {{this.iroha.wallet.balance}}
        </ion-label>
      </ion-chip>
      <ion-col class="ion-text-end">
        <ion-icon name="add-circle" class="center-right" routerLink="/top-up" routerDirection="forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
