<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()" routerDirection="forward">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Update Store</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-margin-horizontal">
    <ion-card mode="ios" class="ion-padding">
      <ion-row>
        <ion-col size="10">
          <ion-card-title style="font-size: 18px; padding-top: 3px" >Add New Item</ion-card-title>
        </ion-col>
        <ion-col size="2" class="ion-text-right">
          <ion-buttons>
            <ion-button (click)="openAddItemModal()">
            <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-card>
      <ion-row style="padding-left: 0">
      <ion-col size="10">
      <ion-text  color="primary" style="font-size: 26px; font-weight: bold">Current Items</ion-text>
      </ion-col>
      <ion-col size="2" class="ion-text-right">
      <ion-buttons>
      <ion-button>
        <ion-icon slot="end" name="refresh-circle-outline"(click)="addItemToStoreInit()">
        </ion-icon>
      </ion-button>
      </ion-buttons>
      </ion-col>
      </ion-row>
    <ng-container *ngFor="let food of foodStore">
      <app-update-store-component [food]="food" (childEvent)="addItemToStoreInit()"></app-update-store-component>
    </ng-container>
  </div>
</ion-content>
